<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="title">Notre compagnie</h1>        
            <p class="text-justify">Bacon ipsum dolor amet tenderloin pastrami strip steak andouille pork chop ball tip cupim. Capicola porchetta venison, shankle fatback picanha cow meatball. Jerky biltong kevin, spare ribs sausage sirloin rump frankfurter pork belly ribeye chicken. Pork chop pork prosciutto tenderloin pork belly tri-tip. </p>
        </div>
        <div class="container pt-5">
            <div class="row">
                <div class="col-6">
                    <div>
                        <h1 class="title">Mission</h1>
                        <p class="text-justify">Bacon ipsum dolor amet tenderloin pastrami strip steak andouille pork chop ball tip cupim. Capicola porchetta venison, shankle fatback picanha cow meatball. Jerky biltong kevin, spare ribs sausage sirloin rump frankfurter pork belly ribeye chicken. Pork chop pork prosciutto tenderloin pork belly tri-tip. </p>
                        <h1 class="title pt-5">Vision</h1>
                        <p class="text-justify">Bacon ipsum dolor amet tenderloin pastrami strip steak andouille pork chop ball tip cupim. Capicola porchetta venison, shankle fatback picanha cow meatball. Jerky biltong kevin, spare ribs sausage sirloin rump frankfurter pork belly ribeye chicken. Pork chop pork prosciutto tenderloin pork belly tri-tip. </p>
                    </div>
                </div>
                <div class="col-6">
                    <h1 class="title">Valeurs</h1>
                    <h3 class="title">Passion</h3>
                    <p class="text-justify">Bacon ipsum dolor amet tenderloin pastrami strip steak andouille pork chop ball tip cupim. Capicola porchetta venison, shankle fatback picanha cow meatball.</p>
                    <h3 class="title">Transparence</h3>
                    <p class="text-justify">Bacon ipsum dolor amet tenderloin pastrami strip steak andouille pork chop ball tip cupim. Capicola porchetta venison, shankle fatback picanha cow meatball.</p>
                    <h3 class="title">Efficacité</h3>
                    <p class="text-justify">Bacon ipsum dolor amet tenderloin pastrami strip steak andouille pork chop ball tip cupim. Capicola porchetta venison, shankle fatback picanha cow meatball.</p>
                    <h3 class="title">Esprit d'équipe</h3>
                    <p class="text-justify">Bacon ipsum dolor amet tenderloin pastrami strip steak andouille pork chop ball tip cupim. Capicola porchetta venison, shankle fatback picanha cow meatball.</p>
                </div>
            </div>
        </div>
                
    </div>
</div>